<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Course</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/adminHome.css}" />
</head>
<body style="background-color: #D3D3D3;">
	<div th:replace="templates/pedagogueHeader :: headertemplate"></div>
	<div class="form">
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}"></div>
		<form class="form-horizontal" action="#"
			th:action="@{/pedagogue/addCourse}" th:object="${courseDto}"
			th:method="post">
			<div class="form-group">
				<label for="course" class="control-label col-sm-4">Course
					Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{name}"
						id="name" placeholder="Name must be 3-50 letters"
						th:required="required" th:minlength="3" th:maxlength="50">
				</div>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4" for="description">Description</label>
				<div class="col-sm-8">
					<input class="form-control" th:field="*{description}"
						id="description" placeholder="description must be 3-50 letters"
						th:required="required" th:minlength="3" th:maxlength="50" /> <span
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4" for="book">Book Name</label>
				<div class="col-sm-8">
					<input class="form-control" th:field="*{book}" id="book"
						placeholder="book must be 5-50 letters" th:required="required"
						th:minlength="5" th:maxlength="50" /> <span
						th:if="${#fields.hasErrors('book')}" th:errors="*{book}"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="startDate" class="control-label col-sm-4">Start
					Date </label>
				<div class="col-sm-8">
					<input type="date" th:field="*{startDate}" id="startDate"
						class="form-control" placeholder="startDate"
						th:required="required"> <span
						th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="finishDate" class="control-label col-sm-4">Finish
					Date </label>
				<div class="col-sm-8">
					<input type="date" th:field="*{finishDate}" id="finishDate"
						class="form-control" placeholder="finishDate"
						th:required="required"> <span
						th:if="${#fields.hasErrors('finishDate')}"
						th:errors="*{finishDate}"></span>
				</div>
			</div>

			<div class="container">
				<div class="row">

					<div class="text-center">
						<button class="btn btn-success" type="submit">Add Course</button>
					</div>
				</div>
			</div>

		</form>
	</div>
	<footer th:replace="templates/footer :: footertemplate"> </footer>
</body>
</html>